<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="MoralEvaluated.Properties.Settings.hdu_sceConnectionString"
        connectionString="server=localhost;User Id=root;password=123;database=hdu_sce"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="connectionstring"  value="Data Source=MYSQL;Password=123;User ID=root;Location=localhost" />
  </appSettings>
</configuration>
